<section class="content content_authorized">
  <header class="header">
    <div class="header__common">
      <p class="header__name">{{ header }}</p>
      {{{ profileLink }}}
    </div>

    <div class="header__dialog">
      <p>{{ person }}</p>
    </div>
  </header>

  <main class="main main_authorized">
    {{{ chats }}}

    {{{ messages }}}
  </main>
</section>
